<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594161838195-2t22mka1elgutvsiuk6f8jqdr3vmacr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594161838195-2t22mka1elgutvsiuk6f8jqdr3vmacr5</string>
	<key>API_KEY</key>
	<string>AIzaSyAqTXfiTEUiJwQ1Y7mpSpiEgybDdDtKzXM</string>
	<key>GCM_SENDER_ID</key>
	<string>594161838195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pinvite.pinviteapp</string>
	<key>PROJECT_ID</key>
	<string>pinvite-c4182</string>
	<key>STORAGE_BUCKET</key>
	<string>pinvite-c4182.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594161838195:ios:6664a2502f1371fd98a206</string>
</dict>
</plist>